<div class="cbx-footer-wrapper">

    <div class="footer-top">
        <div class="container">
            <div class="row border-bottom">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget widget-about">
                        <a href="#"><img src="public/img/logo/logo.png" alt="recruitz" class="img-responsive" /></a>
                        <p>We are legend lorem ipsum sitmetd nsecte ipisicing etirt.</p>
                        <a href="#" class="btn btn-default widget-btn recruitz-btn">Know More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget widget-listings">
                        <h2>Usefull Link</h2>
                        <ul>
                            <li>
                                <a href="pricing.html">Pricing Plan</a>
                            </li>

                            <li>
                                <a href="#">Categories</a>
                            </li>

                            <li>
                                <a href="#">Populer Deal</a>
                            </li>

                            <li>
                                <a href="#">FAQ</a>
                            </li>

                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget widget-listings">
                        <h2>FAQ</h2>
                        <ul>
                            <li>
                                <a href="#">Duis aute irure dolor?</a>
                            </li>

                            <li>
                                <a href="#">Sunt in culpa qui officia?</a>
                            </li>

                            <li>
                                <a href="#">Cillum dolore eu fugiat?</a>
                            </li>

                            <li>
                                <a href="#">Lorem Ipsum dolor sit?</a>
                            </li>

                            <li>
                                <a href="#">Dolor Sit Amet?</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget widget-subscribe">
                        <h2>Get In Touch</h2>
                        <p>It you want to connect with us please subcribe by your email.</p>
                        <form id="cbx-subscribe-form" class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="email" id="subscribe" required="" class="form-control" placeholder="Your Email"
                                    name="email" autocomplete="off">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-send-o"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <p>&copy; 2018 Copyright Careers ERA. All Rights reserved.</p>
    </div>

</div>

<a href="#" class="scrollToTop">
    <i class="fa fa-arrow-up"></i>
</a>