<div class="cbx-header-wrapper">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="#">
                <img src="public/img/logo/logo.png" alt="careersera" class="img-responsive" style="height:50px" />
            </a>
            <a class="py-2 d-none d-md-inline-block" href="index.html">Home</a>
            <a class="py-2 d-none d-md-inline-block" href="jobs-left-sidebar.html">Jobs</a>
            <a class="py-2 d-none d-md-inline-block" href="companies.html">Companies</a>
            <a class="py-2 d-none d-md-inline-block" href="profiles.html">Resumes</a>
            <a class="py-2 d-none d-md-inline-block" href="dashboard-candidate-home.html">Seeker Dashboard</a>
            <a class="py-2 d-none d-md-inline-block" href="dashboard-employer-home.html">Company Dashboard</a>
            <a class="py-2 d-none d-md-inline-block" href="contact-us.html">Contact Us</a>
        </div>
    </nav>
</div>