<div class="cbx-popular-categories-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title">
                    <h3>popular categories</h3>
                    <p>Here you see, latest and atracttive jobs these are curently open</p>
                </div>
            </div>
        </div>
        <div class="row">

            {{#each categories}}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="categories-wrapper">
                    <a href="jobs.html">
                        <i class="{{icon}}"></i>
                        <h6>id {{id}} {{title}}</h6>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>