<div class="cbx-popular-jobs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title">
                    <h3>popular jobs</h3>
                    <p>Here you see, latest and atracttive jobs these are curently open</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="jobs-wrapper">
                    <div class="job-badge hot">
                        <i class="fa fa-fire" aria-hidden="true"></i>
                    </div>
                    <div class="jobs-thumb">
                        <a href="job-details.html">
                            <img src="public/img/client-logo/company-25.jpg" alt="Company" class="img-responsive" />
                        </a>
                    </div>
                    <div class="jobs-content">
                        <div class="jobs-content-left">
                            <h6><a href="job-details.html">Urgently Need Five Data Center Specialist Eng.</a></h6>
                            <div class="jobs-meta">
                                <ul>
                                    <li>
                                        <label class="label label-default recruitz-btn full-time">Full Time</label>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-sitemap" aria-hidden="true"></i> It Sector,
                                            Technology
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Banani, Dhaka
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Days Left
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jobs-content-right">
                            <a href="job-details.html" class="btn btn-default recruitz-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="jobs-wrapper">
                    <div class="jobs-thumb">
                        <a href="#">
                            <img src="public/img/client-logo/company-24.jpg" alt="Company" class="img-responsive" />
                        </a>
                    </div>
                    <div class="jobs-content">
                        <div class="jobs-content-left">
                            <h6><a href="#">Urgently Need Five Data Center Specialist Eng.</a></h6>
                            <div class="jobs-meta">
                                <ul>
                                    <li>
                                        <label class="label label-default recruitz-btn remoted">Remoted</label>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-sitemap" aria-hidden="true"></i> It Sector,
                                            Technology
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Banani, Dhaka
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Days Left
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jobs-content-right">
                            <a href="#" class="btn btn-default recruitz-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="jobs-wrapper">
                    <div class="job-badge trending">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <div class="jobs-thumb">
                        <a href="job-details.html">
                            <img src="public/img/client-logo/company-23.jpg" alt="Company" class="img-responsive" />
                        </a>
                    </div>
                    <div class="jobs-content">
                        <div class="jobs-content-left">
                            <h6><a href="job-details.html">Urgently Need Five Data Center Specialist Eng.</a></h6>
                            <div class="jobs-meta">
                                <ul>
                                    <li>
                                        <label class="label label-default recruitz-btn part-time">Part Time</label>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-sitemap" aria-hidden="true"></i> It Sector,
                                            Technology
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Banani, Dhaka
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Days Left
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jobs-content-right">
                            <a href="job-details.html" class="btn btn-default recruitz-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="jobs-wrapper">
                    <div class="jobs-thumb">
                        <a href="job-details.html">
                            <img src="public/img/client-logo/company-22.jpg" alt="Company" class="img-responsive" />
                        </a>
                    </div>
                    <div class="jobs-content">
                        <div class="jobs-content-left">
                            <h6><a href="job-details.html">Urgently Need Five Data Center Specialist Eng.</a></h6>
                            <div class="jobs-meta">
                                <ul>
                                    <li>
                                        <label class="label label-default recruitz-btn part-time">Part Time</label>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-sitemap" aria-hidden="true"></i> It Sector,
                                            Technology
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Banani, Dhaka
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Days Left
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jobs-content-right">
                            <a href="job-details.html" class="btn btn-default recruitz-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="jobs-wrapper">
                    <div class="jobs-thumb">
                        <a href="job-details.html">
                            <img src="public/img/client-logo/company-21.jpg" alt="Company" class="img-responsive" />
                        </a>
                    </div>
                    <div class="jobs-content">
                        <div class="jobs-content-left">
                            <h6><a href="job-details.html">Urgently Need Five Data Center Specialist Eng.</a></h6>
                            <div class="jobs-meta">
                                <ul>
                                    <li>
                                        <label class="label label-default recruitz-btn remoted">Remoted</label>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-sitemap" aria-hidden="true"></i> It Sector,
                                            Technology
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Banani, Dhaka
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Days Left
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jobs-content-right">
                            <a href="job-details.html" class="btn btn-default recruitz-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="jobs-wrapper">
                    <div class="jobs-thumb">
                        <a href="job-details.html">
                            <img src="public/img/client-logo/company-20.jpg" alt="Company" class="img-responsive" />
                        </a>
                    </div>
                    <div class="jobs-content">
                        <div class="jobs-content-left">
                            <h6><a href="job-details.html">Urgently Need Five Data Center Specialist Eng.</a></h6>
                            <div class="jobs-meta">
                                <ul>
                                    <li>
                                        <label class="label label-default recruitz-btn part-time">Part Time</label>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-sitemap" aria-hidden="true"></i> It Sector,
                                            Technology
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Banani, Dhaka
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Days Left
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jobs-content-right">
                            <a href="job-details.html" class="btn btn-default recruitz-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>