<div class="cbx-banner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content">
                    <p>You can also list your job post here, <span>It's Free!</span><a href="dashboard-employer-home.html"
                            class="btn btn-default recruitz-btn">Post
                            a Job</a></p>
                    <h5>Hello visitor, we have <span>5 million+</span> jobs are open!!</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="job-search">
                                <form method="post" role="form">

                                    <div class="input-group">
                                        <input type="text" class="form-control" name="keyword" value="" placeholder="Keyword">
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control " title="Location...">
                                            <option>Bogra</option>
                                            <option>Jessore</option>
                                            <option>Cox's Bazar</option>
                                            <option>Brahmanbaria</option>
                                            <option>Dinajpur</option>
                                            <option>Chapai Nawabganj</option>
                                            <option>Tangail</option>
                                            <option>Sirajganj</option>
                                            <option>Feni</option>
                                            <option>Jamalpur</option>
                                            <option>Pabna</option>
                                            <option>Noakhali</option>
                                            <option>Faridpur</option>
                                            <option>Kushtia</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control " title="Categories...">
                                            <option>Accounting/Finance</option>
                                            <option>Bank/ Non-Bank Fin. Institution</option>
                                            <option>Commercial/Supply Chain</option>
                                            <option>Education/Training</option>
                                            <option>Engineer/Architects</option>
                                            <option> Garments/Textile</option>
                                            <option>HR/Org. Development</option>
                                            <option>Gen Mgt/Admin</option>
                                            <option>Design/Creative</option>
                                            <option>Production/Operation</option>
                                            <option>Hospitality/ Travel/ Tourism</option>
                                            <option>Beauty Care/ Health & Fitness</option>
                                            <option>Electrician/ Construction/ Repair</option>
                                            <option>IT & Telecommunication</option>
                                            <option>Marketing/Sales</option>
                                            <option>Customer Support/Call Centre</option>
                                            <option>Media/Ad./Event Mgt.</option>
                                            <option>Medical/Pharma</option>
                                            <option>Agro (Plant/Animal/Fisheries)</option>
                                            <option>NGO/Development</option>
                                            <option>Research/Consultancy</option>
                                            <option> Secretary/Receptionist</option>
                                            <option> Data Entry/Operator/BPO </option>
                                            <option> Driving/Motor Technician</option>
                                            <option>Security/Support Service</option>
                                            <option> Law/Legal</option>
                                            <option> Others</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-default recruitz-btn">Search Job</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>