<div class="cbx-banner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content">
                    <p>You can also list your job post here, <span>It's Free!</span><a href="dashboard-employer-home.html"
                            class="btn btn-default recruitz-btn">Post
                            a Job</a></p>
                    <h5>Hello visitor, we have <span>5 million+</span> jobs are open!!</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="job-search">
                                <form method="post" role="form">

                                    <div class="input-group">
                                        <input type="text" class="form-control" name="keyword" value="" placeholder="Keyword">
                                    </div>

                                    <button type="submit" class="btn btn-default recruitz-btn">Search Job</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>