<div class="col-md-9">
    <div class="jobs-wrapper">
        <div class="job-badge trending">
            <i class="fa fa-bolt" aria-hidden="true"></i>
        </div>
        <div class="jobs-thumb">
            <a href="job-details.html">
                <img src="assets/img/client-logo/company-16.jpg" alt="Company" class="img-responsive" />
            </a>
        </div>
        <div class="jobs-content">
            <div class="jobs-content-left">
                <h6><a href="job-details.html">Urgently Need Five Data Center Specialist Eng.</a></h6>
                <div class="jobs-meta">
                    <ul>
                        <li>
                            <label class="label label-default recruitz-btn full-time">Full Time</label>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-sitemap" aria-hidden="true"></i> It Sector, Technology
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Banani, Dhaka
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Days Left
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="jobs-content-right">
                <a href="job-details.html" class="btn btn-default recruitz-btn">Apply Now</a>
            </div>
        </div>
    </div>
</div>