<div class="col-md-3">
    <aside>
        <div id="cbx-sidebar" class="cbx-sidebar">
            <div class="widget widget-job-categories">
                <h4 class="no-top-margin">Job Categories</h4>

                <div class="widget-content widget-job-categories">
                    <ul>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-079-accounting"></i>
                                accounting
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-110-mouse"></i>
                                it sector
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-040-monitor-2"></i>
                                design
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-052-target"></i>
                                sales & marketing
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-043-worldwide-1"></i>
                                government
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-102-briefcase-1"></i>
                                medical
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-097-headset"></i>
                                customer service
                            </a>
                        </li>
                        <li>
                            <a href="jobs.html">
                                <i class="flaticon-061-contract-1"></i>
                                writer
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="widget widget-job-checkbox-filter">
                <h4>Status</h4>
                <div class="checkbox">
                    <input id="latest" type="checkbox" checked="">
                    <label for="latest">
                        Latest
                    </label>
                </div>
                <div class="checkbox">
                    <input id="upcoming" type="checkbox">
                    <label for="upcoming">
                        Upcoming
                    </label>
                </div>
                <div class="checkbox">
                    <input id="free-shipping" type="checkbox">
                    <label for="free-shipping">
                        Free Shipping
                    </label>
                </div>
                <div class="checkbox">
                    <input id="ending-soon" type="checkbox">
                    <label for="ending-soon">
                        Ending Soon
                    </label>
                </div>
                <div class="checkbox">
                    <input id="previous" type="checkbox">
                    <label for="previous">
                        Previous
                    </label>
                </div>
            </div>

        </div>
    </aside>
</div>