<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="job-listing-grid-view-action-wrapper">
            <span>Sort By:</span>
            <ul>
                <li><a class="job-list-action active" href="#"><i class="fa fa-list-ul"></i></a></li>
                <li><a class="job-grid-action" href="#"><i class="fa fa-th"></i></a></li>
            </ul>


        </div>
    </div>
</div>